{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Klinikiniai{% endblock %}

{% block body %}

    <style>
        .myButtone {
            box-shadow:inset 0px -3px 7px 0px #29bbff;
            background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
            background-color:#2dabf9;
            border-radius:3px;
            border:1px solid #0b0e07;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:15px;
            padding:9px 23px;
            text-decoration:none;
            text-shadow:0px 1px 0px #263666;
            width:100%;
        }
        .myButtone:hover {
            background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
            background-color:#0688fa;
        }
        .myButtone:active {
            position:relative;
            top:1px;
        }

        body {
            background: linear-gradient(0deg, rgba(34,161,241,0.6480742980786064) 0%, rgba(128,236,255,1) 100%) fixed;
            background-size: cover;
            -ms-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            font-family: "Helvetica Neue", Helvetica, Arial;
            padding-top: 20px;
        }

        .container {
            width: 600px;
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        #signup {
            padding: 0px 25px 25px;
            background: #fff;
            box-shadow:
                    0px 0px 0px 5px rgba( 255,255,255,0.4 ),
                    0px 4px 20px rgba( 0,0,0,0.33 );
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            display: table;
            position: static;
        }

        #signup .header {
            margin-bottom: 20px;
        }

        #signup .header h3 {
            color: #333333;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        #signup .header p {
            color: #8f8f8f;
            font-size: 14px;
            font-weight: 300;
        }

        #signup .sep {
            height: 1px;
            background: #e8e8e8;
            width: 600px;
            margin: 0px -25px;
        }

        #signup .inputs {
            margin-top: 25px;
        }
    </style>

    <div class="container">
        <div id="signup" style="margin-bottom: 10px; width: 600px; padding: 10px">
            <div style="display:flex;justify-content:center;align-items:center;">
                <a href="{{ path('main') }}">
                    <img style="width: 100%" alt="" src="https://i.ibb.co/fQWjMyS/banner-bigger.jpg" />
                </a>
            </div>
        </div>

        <div id="signup">

            <div class="header">

                <h3>Klinikinis tyrimas</h3>

                <p>Įveskite tyrimo duomenis</p>

            </div>

            <div class="sep"></div>

            <div class="inputs">

                {{ form_start(form) }}

                {{ form_label(form.pavadinimas, "Pavadinimas") }}
                {{ form_widget(form.pavadinimas) }}

                {{ form_label(form.aprasymas, "Aprašymas") }}
                {{ form_widget(form.aprasymas) }}

                {{ form_label(form.kontaktai, "Kontaktai") }}
                {{ form_widget(form.kontaktai) }}
                <br>
                <button class="myButtone">{{ button_label|default('Išsaugoti') }}</button>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}